body{
    background-color: rgb(234, 109, 134);
}

header{
    text-align: center;
    color: white;
}

section{
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 250px;
    margin: auto;
    padding: 10px;
    text-align: center;
}

div{
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;
    font-style: oblique;
    color: white;
}